<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">


      <h1>Miles of Smiles</h1>
      <div class="nav">
        <ul>
          <li class = nav nav-tab><%= link_to "All Packages", packages_path %></li>
          <% if !current_user %>
          <li class = nav nav-tab><%= link_to "Sign In", new_user_session_path %></li>
          <% else %>
          <li class = nav nav-tab><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% end %>
          <% if is_admin? %>
          <li class = nav nav-tab><%= link_to "New Package", new_package_path %></li>
          <% end %>
          <%= yield(:navbar) %>
        </ul>
      </div>
    </div>
<div class="container">
  <%= yield %>
</div>
  </body>
</html>
